.navbar {
    opacity: 0.8;
    border-bottom: 1px solid #fff;
} 
   
.jumbotron {
    padding-top: 100px;
    
}

/* 1. Adım: Tüm sayfa içeriğini Navbar yüksekliği kadar aşağı it */
body {
    padding-top: 70px; 
}

/* 2. Adım: Sadece mobil ekranlar için özel ayar */
@media (max-width: 768px) {
    .jumbotron {
        /* Başlığı biraz daha aşağı itmek için iç boşluk ekle */
        padding-top: 4rem !important; 
    }
    
    .display-4 {
        /* Yazı boyutunu mobilde küçült ki taşmasın */
        font-size: 2.2rem !important;
        line-height: 1.2;
    }
}

