.navbar {
    opacity: 0.8;
    border-bottom: 1px solid #fff;
} 
   
.jumbotron {
    padding-top: 100px;
    
}

body {
    padding-top: 56px; /* Navbar yüksekliği kadar boşluk */
}

/* Navbar sabit (fixed) olduğu için içeriği aşağı itmemiz gerekiyor */
body {
    padding-top: 75px; 
}

/* Mobilde hala sorun varsa jumbotron'un iç boşluğunu artıralım */
@media (max-width: 768px) {
    .jumbotron {
        padding-top: 5rem !important;
        padding-bottom: 2rem !important;
    }
}
